<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<style>
		*{
			margin:0;padding:0;
		}
		.container{
			width:600px;
			min-height:500px;
			border:3px solid pink;
			padding:10px;
			margin:0 auto;
		}
		.table{
			border-collapse: collapse;
			border:1px solid #000;
			width:100%;
		}
		.table td{
			border:1px solid #000;
			text-align: center;
		}
		a{
			text-decoration: none;
			color:#000;
		}
		a:hover{
			color:red;
			text-decoration: underline;
		}
		.btnAdd{
			margin-bottom: 20px;
		}
		.addinfo{
			width:100%;
			height:100px;
			margin-top:20px;
		}
		table input{
			width:100px;
			text-align: center;
			background: none;
			outline:none;
		}
	</style>
</head>
<body>
	<div class="container" ng-app="my-app" ng-controller="my-Ctrl">
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>书名</th>
					<th>作者</th>
					<th>价格</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr  ng-repeat="book in books | filter:typeFun(selected.value) | orderBy:type:bool">
					<td>{{book.key}}</td>
					<td><input type="text" value="{{book.bname}}" ></td>
					<td><input type="text" value="{{book.bauthor}}" disabled></td>
					<td><input type="text" value="{{book.bprice}}" disabled></td>
					<td>
						<a href="javascript:;" ng-click="delBook($index,book.key)">删除</a>
						<a href="javascript:;" ng-click="updateBook(book.key,book.bname,book.bauthor,book.bprice)">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="addinfo">
		<input ng-show="show" type="text" ng-model="key" placeholder="序号">
		<input type="text" ng-model="bname" placeholder="作者">
		<input type="text" ng-model="bauthor" placeholder="书名">
		<input type="text" ng-model="bprice" placeholder="价格">
		<button class="btnAdd" ng-show="show" ng-click="addBook()">增加</button>
		<button class="btnAdd" ng-show="noshow" ng-click="btnok()">完成</button>
		<button class="btnAdd"  ng-click="sortByKey()">序号排序</button>
		<button class="btnAdd"  ng-click="sortByPrice()">价格排序</button>
		</div>
		<select name="" id="" ng-model="selected" ng-options="m.key for m in ways"><option value="">请选择</option></select><input type="text" ng-model="inputVal" placeholder="{{m.warning}}">
	</div>
</body>
<script>
// $(function(){
	/*var app = angular.module("my-app",[]);
	app.controller("my-Ctrl",["$scope","$http",function($scope,$http){
		$http.get("php/bookInfo.html").success(function(response){
			$scope.books = $scope;
		});
	}]);*/
	var app = angular.module("my-app",[]);
/*	app.service("require",["$http",function($http){
		//得到数据
		this.getData = function(api,data,callback){
			$http.get(api,data).then(function(res){
				callback(res);
			},function(error){
				console.log("error"+error);
			});
		};
		// 删除数据
		this.deleteInfo = function(api,data,callback){
			this.getData(api,data,callback);
		}
		// 修改数据
		this.updateInfo = function(api,data,callback){
			this.getData(api,data,callback);
		}
		// 增加数据
		this.addInfo = function(api,data,callback){
			this.getData(api,data,callback);
		}
	}]);
	app.controller("my-Ctrl",["$scope","require",function($scope,require){
		require.getData("api/bookInfo.json",{},function(res){
			$scope.books = res.data;
		});
		$scope.bookInfo = {
					bname:"",
					bprice:"",
					bauthor:""
			};
		$scope.addBook = function(){
			// var bookInfo = angular.toJson(this.bookInfo);
			var bookInfo = this.bookInfo;
			console.log(angular.toJson(this.bookInfo));	
			require.addInfo("php/bookInfo.php",{params:{"addInfo":{"bookInfo":bookInfo}}},function(res){
					console.log(res);
			});

			//增加
			/*require.addInfo({
				method:"POST",
				url:"php/bookInfo.php",
				params:{"type":"addBook","bookInfo":bookInfo}
			}).success(function(res){
				console.log(res);
			});

		}

	}]);*/
	app.controller("my-Ctrl",["$scope","$http",function($scope,$http){
		$scope.show = true;
		
		$scope.typeFun = function(selected){
			var obj = {};
			obj[selected] = this.inputVal;
			return obj;
		}
		$scope.ways = [{"key":"序号","value":"key"},{"key":"书名","value":"bname"},{"key":"作者","value":"bauthor"},{"key":"价格","value":"bprice"}];
		$http.get("api/bookInfo.json").success(function(response){
			$scope.books = response;
			//排序
			$scope.sortByKey = function(){
				$scope.type = "key";
				$scope.bool = false;
			}
			$scope.sortByPrice = function(){
				$scope.type = "bprice";
				$scope.bool = false;
			}
			$scope.isShow = true;
			$scope.findIndex = function(key){
				var index = -1;
				var len = $scope.books.length;
				for(var i = 0;i < len;i++){
					if($scope.books[i].key === key){
						index = i;
						break;
					}
				}
				return index;
			}
			// findIndex()
			$scope.delBook = function(i,key){
				console.log(key);
				$http({
					method:"post",
					url:"php/bookInfo.php",
					data:{"type":"deleteInfo","key":key},
					headers : { 'Content-Type': 'application/x-www-form-urlencoded' },
					transformRequest:function(obj){
					var str = [];
					for(var p in obj){
						str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
					}
					return str.join("&");
				}}).success(function(res){
					$scope.books.splice(i,1);
				});
			}
			//修改
			$scope.updateBook = function(key,bname,bauthor,bprice){
				$scope.show = false;
				$scope.noshow = true;
				$scope.bauthor = bauthor;
				$scope.bprice = bprice;
				$scope.bname = bname;
				$scope.btnok = function(){
					var bname = $scope.bname,
					bauthor = $scope.bauthor,
					bprice = $scope.bprice;

					$http({
					method:"post",
					url:"php/bookInfo.php",
					data:{"type":"updateBook","bname":bname,"bauthor":bauthor,"bprice":bprice,"key":key},
					headers : { 'Content-Type': 'application/x-www-form-urlencoded' },
					transformRequest:function(obj){
					var str = [];
					for(var p in obj){
						str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
					}
					return str.join("&");
				}}).success(function(res){
					console.log(res);
				});	
				}
			}
			//增加
			$scope.addBook = function(){
				var bname = $scope.bname,
				key = $scope.key,
				bauthor = $scope.bauthor,
				bprice = $scope.bprice;
				var bookInfo = {
					bname:$scope.bname,
					key :$scope.key,
					bauthor: $scope.bauthor,
					bprice :$scope.bprice
				}
				//在页面中显示添加的信息，在无刷新状态下
				$scope.books.push(bookInfo);
				$http({
					method:"post",
					url:"php/bookInfo.php",
					data:{"type":"addBook","bname":bname,"bauthor":bauthor,"bprice":bprice,"key":key},
					headers : { 'Content-Type': 'application/x-www-form-urlencoded' },
					transformRequest:function(obj){
					var str = [];
					for(var p in obj){
						str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
					}
					return str.join("&");
				}}).success(function(res){
					console.log(res);
				});
			}
			
		});
	}]);

	
</script>
</html>